.signup .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
}

.signup .left {
    text-align: center;
}

.signup img {
    width: 400px;
    -webkit-box-shadow: 4px 4px 0px 15px #000000; 
    box-shadow: 2px 3px 0px 5px #000000;
    border-radius: 9px;
    pointer-events: none;
}


.signup .right p {
    margin: 1rem 0;
    text-align: left;
}

@media screen and (max-width:860px) {
    .signup .container {
        grid-template-columns: 1fr;
    }


}