.signup .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
}

.signup .left {
    text-align: center;
}

.signup img {
    -webkit-box-shadow: 4px 4px 0px 15px #000000; 
    box-shadow: 2px 3px 0px 5px #000000;
    width: 390px;
}

.signup .right p {
    margin: 2rem 0;
}

@media screen and (max-width:940px) {
    .signup .container {
        grid-template-columns: 1fr;
    }

    .signup img{
        
        width: 300px;
    }
}