.hero .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 4rem auto;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}

.hero.left{
    padding: 1rem;
}

.hero h1{
    padding: 1rem 0;
}

.hero .input-container{
    padding: 1rem 0;
}

.hero .right{
    padding: 1rem;
}

.hero .img-container{
    width: 100%;
    display: flex;
}

.hero img{
    animation: increase-width 2s forwards;
    margin: auto;
    background-color: #ffb443;
    pointer-events: none;
    -webkit-box-shadow: 5px 5px 0px 16px #000000; 
    box-shadow: 3px 6px 0px 8px #000000;
    border-radius: 9px;
}

.hero img:hover {
    max-width: 68%;
  }

@keyframes increase-width {
    from {
      max-width: 85%;
    }
    to {
      max-width: 95%;
    }
  }

@media screen and (max-width: 940px)
{
    .hero .container{
        grid-template-columns: 1fr;
        margin: 1rem;
    }
}