
.featured {
    width: 100%;
    padding: 8rem 0;
    background-color: #ffb443;
    border-top: 4px solid black;
    border-bottom: 4px solid black;

}



.featured .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

.featured .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2rem;
}

.featured .left p {
    margin: 1.5rem 0;
}

.featured .left .btn {
    align-self: flex-start;
}

.featured .right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.featured .right .card {
    display: flex;
    flex-direction: column;
    padding: 12px 22px;
    margin: .4rem;
    width: 170px;
    height: 170px;
    border-radius: 8px;
    border: 1px solid black;
    -webkit-box-shadow: 2px 2px 0px 6px #000000; 
    box-shadow: 2px 2px 0px 4px #000000;
    text-align: center;
    background-color: #ffffff;
    pointer-events: none;
}

.featured .card .top {
    display: flex;
    flex-direction: column;
}

.featured .right img {
    width: 50px;
    margin: auto;
    padding: .2rem 0;
    
}

.featured .icon {
    font-size: 36px;
    margin: auto;
    padding-top: 6px;
    justify-content: center;
    align-items: center;
}

.featured span {
    font-size: 22px;
}

.green {
    color: #1bcc36;

}

.red {
    color: #a71414;

}

@media screen and (max-width: 940px) {
    .featured .container {
        grid-template-columns: 1fr;
    }

    .featured .left .btn {
        align-self: center;
    }
}


@media screen and (max-width: 478px) {
    .featured .container .right .card {
        width: 100%;
    }
}
